body {
  font-family: "Special Elite", cursive;
  height: 100%;
  width: 100%;
  color: #000;
  background-color: rgb(228, 228, 228);
}
.box {
  max-width: 950px;
  max-height: 850px;
  margin: 0 auto;
  background-image: url(../images/paper2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 40px;
}
.open {
  text-align: center;
}
.form-section {
  margin-top: 30px;
  text-align: left;
}

input[type="submit"],
button {
  background-color: rgb(66, 65, 64);
  color: rgb(228, 228, 228);
  font-size: 15px;
  border: 2px solid #000;
  border-radius: 2px;
}
input[type="text"] {
  color: #000;
  background-color: rgb(228, 228, 228);
  font-size: 15px;
  border: 1px solid #000;
  border-radius: 2px;
}

.wether-section {
  margin: 60px 0px 50px 0px;
}

.forecastDay {
  text-align: center;
}

h1 {
  font-size: 60px;
}

.scale {
  font-size: 30px;
  margin-left: 10px;
}

h2 {
  font-size: 50px;
  text-align: center;
}

h3,
h4 {
  margin-bottom: 0px;
}

.indicators {
  font-size: 25px;
  margin-top: 30px;
}

.sky {
  text-align: right;
}

#weatherSky {
  font-size: 20px;
  position: relative;
  top: 40%;
}
#skyIcon {
  width: 70px;
}
a,
a:hover,
a:link {
  color: rgb(80, 77, 77);
  text-decoration: none;
}
.active {
  color: #000 !important;
}

.days-temp-all {
  font-size: 20px;
}

.stamp {
  width: 80px;
  margin-top: 10px;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 30px;
  }
  .indicators {
    font-size: 15px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  .scale {
    font-size: 20px;
  }
  .basicBlock {
    min-width: 180px;
  }
  .basicBlock2 {
    min-width: 130px;
  }
  input[type="submit"],
  button {
    margin-top: 5px;
  }
  .wether-section {
    margin: 50px 0px 30px 0px;
  }
  #weatherSky {
    text-align: center;
  }
  .stamp {
    display: none;
  }
}
